<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SASpecs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A96160B522F2C88D009FFC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A96160C922F2C88F009FFC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A96160D422F2C88F009FFC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
